/*
Title: Assignment 3 part 3
Name: Sebastian Cosentino
Date: June 21 2024
Purpose: Typesetting a homepage css
*/

/* General setup */

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    font-family: 'pt_serif', serif;
    line-height: 1.3;
}

/* link styling */

a[href*="http"] {
    padding-left: .59em;
    text-decoration: none;
    outline: none;
    background: url('icons/external-link-52.png');
    background-size: .58em .58em;
    background-position: 0 2px;
    background-repeat: no-repeat;
}

a:link, a:visited, a:focus {
    color: #BA7530;
}

a:hover, a:focus {
    text-decoration: underline dotted;
    color: #D3B291;
}

a:active {
    color: #EEE8E2;
}

/* Layout */

section {
    float: left;
    width: 50%;
}

aside {
    float: left;
    width: 30%;
}

nav {
    float: left;
    width: 20%;
}

footer {
    clear: both;
}

header, section, aside, nav, footer {
    padding: 20px;
}

/* header and footer */

header h1 {
    font-size: 3em;
    text-align: center;
    letter-spacing: 0.1em;
    font-family: 'pt_serif', serif;
}

header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
}

/* Fonts */

section h2 {
    font-size: 2em;
    letter-spacing: 0.1em;
    font-family: 'pt_serif', serif;
    font-weight: bold;
}

section p {
    font-size: 1.5em;
    font-family: 'pt_serif', serif;
}

aside h2 {
    font-family: 'pt_serif', serif;
    font-size: 2em;
}

footer p {
    font-size: 1.2em;
}

/* section paragraph content styling */

section > p {
    text-indent: 1em;
}

/* list styling */

ul, ol, aside p {
    font-size: 1.5em;
}

li {
    line-height: 1.5em;
    list-style-type: square;
}

/* navigation tabs */

nav {
    padding-left: 0;
}

nav a {
    text-decoration: none;
    outline: none;
}

nav ul {
    padding: 0;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    display: inline-block;
    font-family: 'pt_serif', serif;
    list-style-type: none;
    line-height: 4em;
    width: 100%;
    border: 1.2px solid #a66;
    border-radius: 3px;
    text-align: center;
    margin-top: 1em;
}

nav #navMenu a:hover,
nav #navMenu a:focus {
    text-decoration: none;
    background-color: #a66;
    color: white;
}
